<!-- Define model, we are using IEnumerable<Actor> instead of List<Actor>,becouse hard coding names in <th> is not option in this case -->
@model IEnumerable<Actor>

<!-- Define ViewData -->
@{
    ViewData["Titel"] = "List of Actors";
}

<!-- Write code -->

<div class="row">
    <div class="col-md-9 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model=>model.ProfilePictureURL)</th> <!--insted of hard coding name in tabel header <th>,we are using Display Name from Actor.cs-->
                    <th>@Html.DisplayNameFor(model=>model.FullName)</th>
                    <th>@Html.DisplayNameFor(model=>model.Bio)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) // in this case Model is IEnumerable<Actor>
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            <!--class="align-middle" is for seting picture in the middle-->
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" />

                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=>item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=>item.Bio)
                        </td>
                        <td class="align-middle">
                            <div> 
                                <a class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i>Edit</a>
                                <a class="btn btn-outline-info btn-sm"><i class="bi bi-eye"></i>Details</a> 
                                <a class="btn btn-danger text-white btn-sm "><i class="bi bi-trash"></i>Delete</a>
                           </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

