<!-- Define model, we are using IEnumerable<T> instead of List<T>,becouse hard coding names in <th> is not option in this case -->
@model IEnumerable<Movie>

<!-- Define ViewData -->
@{
    ViewData["Titel"] = "List of Movies";
}

<!-- Write code -->

<div class="row">
    <div class="col-md-9 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model=>model.ImageURL)</th> <!--insted of hard coding name in tabel header <th>,we are using Display Name from Actor.cs-->
                    <th>@Html.DisplayNameFor(model=>model.Name)</th>
                    <th>@Html.DisplayNameFor(model=>model.Description)</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) // in this case Model is IEnumerable<Actor>
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            <!--class="align-middle" is for seting picture in the middle-->
                            <img class="rounded-circle" src="@item.ImageURL" alt="@item.Name" style="max-width: 150px" />

                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=>item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=>item.Description)
                        </td>
                        
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
